* {
  box-sizing: border-box;
}

body {
  background-color: #FCFBE0
}
a {
  text-decoration:none;
  color: white;
}
.wrapper {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.intro {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.header {
  position: fixed;
  top: 15px;
  left: 40px;
  font-family: Impact,fantasy;
  font-size: 50px;
  color: #03051e;
  font-weight: bold;
  margin-bottom: auto;
  flex-grow: 1;
}

.text {
  position: fixed;
  top:480px;
  left: 50px;
  font-family: Helvetica;
  font-size: 16px;
  line-height: 1.4;
  font-weight: bolder;
  color: #03051e;
  letter-spacing: 1px;
  margin-bottom: auto;
  display: inline-block;
}
.txt {
  position: fixed;
  top:670px;
  left: 50px;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: auto;
  font-weight: bolder;
  letter-spacing: 1px;
  display: inline-block;
}

.portfolio {
  position: relative;
  font-family: Arial;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 15px;
  top: 15px;
  left: 460px;
}


 body {
  margin: 40px;
}

.box {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  font-size: 160%;
}

.box:nth-child(2) {
  background-color: #FCFBE0;
  color: #020202;
  font-family: Helvetica;
}

.box:nth-child(4) {
  background-color: #FCFBE0;
  color: #020202;
  font-family: Helvetica;
}


.box:nth-child(5) {
  background-color: #FCFBE0;
  color: #020202;
  font-family: Helvetica;
}

.box:nth-child(7) {
  background-color: #FCFBE0;
  color: #020202;
  font-family: Helvetica;
}

.box:nth-child(10) {
  background-color: #FCFBE0;
  color: #020202;
  font-family: Helvetica;
}

.box:nth-child(12) {
  background-color: #FCFBE0;
  color: #020202;
  font-family: Helvetica;
}


.box:nth-child(13) {
  background-color: #FCFBE0;
  color: #020202;
  font-family: Helvetica;
}

.box:nth-child(15) {
  background-color: #FCFBE0;
  color: #020202;
  font-family: Helvetica;
}

.wrapper {
  width: 600px;
  display: grid;
  grid-gap: 0px;
  grid-template-rows: repeat(4, 220px);
  grid-template-columns: 220px 220px 220px 220px;
  grid-auto-flow: column;
  position: relative;
  left: 130px;
  font-family: Helvetica;
  padding-bottom: 10px;
}

.container > div > img {
width: 100%;
height: 100%;
object-fit: cover;
}


.portrait {
  position: fixed;
  top: 160px;
  left: 50px;
}

.portrait img {
  box-shadow: 0 0 25px #F99C08;
}

.center-photo {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
	.post-item {
		flex-basis: 50%;
		flex-shrink: 0;
	}
}
@media (min-width: 960px) {
	.post-item {
		flex-basis: 33.333333333%;
	}
}
